<li class="row">
  <div class="col col-sm-2">
    <% if todo.complete? %>
      <del> <%= todo.name %> </del>
    <% else %>
      <%= todo.name %> 
    <% end %>
  </div>

  <div class="col col-sm-1">
    <% if todo.incomplete? %>
        <%= button_to todo_path(todo, todo: { status: 'complete' }), method: :patch, class: "bg-success text-white" do%>
            <span> <i class="bi bi-check-circle"></i>  </<span>
        <% end %>
    <% else %>
        <%= button_to todo_path(todo, todo: { status: 'incomplete' }), method: :patch, class: "bg-success text-white" do%>
        <span> <i class="bi bi-check-circle"></i>  </<span>
        <% end %>
    <% end %>
  </div>
  
  <div class="col col-sm-1">
    <%= button_to todo, method: :delete, class: "bg-danger text-white" do%>
    <span>  <i class="bi bi-trash"></i> </<span>
    <% end %>
  </div>
</li>